body {
	overflow-x: hidden;
	line-height: normal;
}
		
*:focus {
	outline: none !important;
}

p {
	font-family: "Comic Neue", sans-serif;
	font-size: 1.9em;
}
		
h1, h2, h3, h4, h5, h6 {
	font-family: "Arial", sans-serif;
	font-weight: bold;
}
		
hr {
	border-color: grey;
}

a {
	color: #29A6E6;
}

a:hover {
	color: #1B9DE0;
}

/* Header Container */

.header-container {
    background: #1D62F0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1AD6FD, #1D62F0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF9500, #FF5E3A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF9500, #FF5E3A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF9500, #FF5E3A); /* Standard syntax */
}

.header-title {
	font-family: "Comic Neue", sans-serif;
	font-weight: bold;
	color: white;
	padding-top: 25px;
}

.header-buttons {
	padding-bottom: 50px;
}

.header-body {
	color: white;
}

.header-button-text {
	font-family: "Comic Neue", sans-serif;
}

/* Info Container */

.info-container {
    background: #F7F7F7; /* For browsers that do not support gradients */
	
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

@media (min-width: 767px) {
	.info-container > .container {
		padding-left: 200px;
		padding-right: 200px;
	}
}